@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-simipa-1: #0e9f6e;
    --color-simipa-2: #1c242e;
    --color-simipa-3: #6b7280;
    --color-simipa-4: #e5e7eb;
    --color-simipa-5: #f9fafb;
}
